:root {
  --ifm-color-primary: #1a73e8;
  --ifm-color-primary-dark: #1967d2;
  --ifm-color-primary-darker: #185abc;
  --ifm-color-primary-darkest: #174ea6;
  --ifm-color-primary-light: #4285f4;
  --ifm-color-primary-lighter: #669df6;
  --ifm-color-primary-lightest: #8ab4f8;
}
